@keyframes loadingRotate {
  from { transform: rotate(0);}
  to { transform: rotate(360deg);}
}

.loading-container {
  svg {
    color: red;
    animation: loadingRotate 1.4s linear infinite;
  }
  .text {
    color: #777;
  }
}