// reset
* { margin: 0; padding: 0; box-sizing: border-box;}
body, input { font: 300 15px/1.4 "Microsoft Yahei", arial, sans-serif; color: #333;}
body { background-color: #fff; -webkit-text-size-adjust: none;}
a {
  color: #22af6f; text-decoration: none;
  &:hover { text-decoration: underline;}
}
h1, h2, h3, h4, h5, h6 { font-weight: 300; font-family: "Segoe UI", "Microsoft Jhenghei", "Microsoft Yahei", arial, sans-serif;}
ul, li { list-style-type: none;}