// reset
* { margin: 0; padding: 0; box-sizing: border-box;}
body, input { font: 14px/1.2 "Source Han Serif", "PingFang SC", "Microsoft YaHei", sans-serif;}
body { background-color: #fefefe; -webkit-text-size-adjust: none;}
a { color: #4a74ef; text-decoration: none;}
h1, h2, h3, h4, h5, h6 { font-weight: 400;}
ul, li { list-style-type: none;}