.main-article-edit { margin-top: -30px;}
.main-article-edit .tag-box { padding: 10px 0;}
.main-article-edit .tag-add input { height: 24px; padding: 0 8px; outline: 0; border: 0; border-bottom: 1px solid #bbb; width: 150px;}
.main-article-edit .tag-item { color: #4c9ed0; text-decoration: underline; margin-right: 10px;}
.main-article-edit .tag-add .select { left: 0; top: 100%; background: #fff; z-index: 3; min-width: 100%; box-shadow: 2px 1px 8px #bbb;}
.main-article-edit .tag-add li { padding: 8px 10px; list-style-type: none;}
.main-article-edit .tag-add li:hover { background-color: #666; color: #fff;}