 .article-schema-item { padding: 18px 0; transition: padding .2s ease;}
 .article-schema-item:hover { background-color: #eee; padding: 18px 20px;}
 .article-schema-item:hover .article-schema-title { text-decoration: underline; color: #22af6f;}