.w-1100 { width: 1100px; margin: 0 auto;}

// 边距，以 2 为步进
@for $i from 1 through 30 {
  $dis: $i * 2;
  $valiable: ($dis * 1px);
  .m-t-#{$dis} {margin-top: $valiable;}
  .m-l-#{$dis} {margin-left: $valiable;}
  .m-r-#{$dis} {margin-right: $valiable;}
  .m-b-#{$dis} {margin-bottom: $valiable;}
  .m-h-#{$dis} {margin-left: $valiable; margin-right: $valiable;}
  .m-v-#{$dis} {margin-top: $valiable; margin-bottom: $valiable;}
  .m-#{$dis} {margin-top: $valiable; margin-bottom: $valiable; margin-left: $valiable; margin-right: $valiable;}

  .p-t-#{$dis} {padding-top: $valiable;}
  .p-l-#{$dis} {padding-left: $valiable;}
  .p-r-#{$dis} {padding-right: $valiable;}
  .p-b-#{$dis} {padding-bottom: $valiable;}
  .p-h-#{$dis} {padding-left: $valiable; padding-right: $valiable;}
  .p-v-#{$dis} {padding-top: $valiable; padding-bottom: $valiable;}
  .p-#{$dis} {padding-top: $valiable; padding-bottom: $valiable; padding-left: $valiable; padding-right: $valiable;}
}

// 文字对齐
.a-c { text-align: center;}.a-r { text-align: right;}.a-l { text-align: left;}

// 字体大小
.font-0 { font-size: 0;}
@for $i from 5 through 20 {
  $size: ($i * 2);
  .font-#{$size} { font-size: $size * 1px;}
}

// 行距
@for $i from 5 through 10 {
  $size: ($i / 5);
  .lh-#{$size * 10} { line-height: $size;}
}

// 颜色
$color_normal: #444d54; // 字体普通颜色
$color_fe: #fefefe; // 字体淡灰色
$color_fff: #fff;
$color_fe: #fefefe;
$color_ed: #ededed;
.c-normal { color: $color_normal;}
.c-gray { color: $color_normal * 1.5;}

// 背景色
.bg-fff { background-color: $color_fff;}

// display
.block { display: block;}.iblock { display: inline-block;}.inline { display: inline;}.hide { display: none;}

// 链接样式
.hover-orange:hover { color: #EE7600;}

// position
.absolute { position: absolute;}.relative { position: relative;}.fixed { position: fixed;}

// 边框
.border-ddd { border: 1px solid #ddd;}
.border-fff { border: 1px solid #fff;}